<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Facultad de Ingeniería - UNJU</title>
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">FI-UNJU</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Institucional</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Secretarías</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Publicaciones</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Servicios</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Noticias</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="header">
			<h1>Facultad de Ingeniería</h1>
			<p>Universidad Nacional de Jujuy</p>
		</div>

		<img src="images/logounju.jpg" alt="Descripción de la imagen"
			style="display: block; margin: 0 auto;" width="300">



		<div class="container mt-5">
			<div class="row">
				<!-- Aside -->
				<div class="col-md-3">
					<aside class="bg-light p-3">
						<h3>AGENDA FI</h3>
						<p>03 al 14 de junio/24 | 2do Turno Ordinario de Exámenes -
							2024</p>
						<p>15 al 26 de julio/24 | Receso Invernal</p>
						<p>29 de julio/24 al 09 de agosto/24 | 3er Turno Ordinario de
							Exámenes - 2024</p>
					</aside>
				</div>
				<!-- Main Content -->
				<div class="col-md-9">
					<!-- Contenido principal aquí -->
					<div class="row">
						<div class="col-md-6">
							<h2 class="section-title grado">Carreras de Grado</h2>
							<div class="section-content grado">
								<ul>
									<li>Ingeniería Química</li>
									<li>Ingeniería de Minas</li>
									<li>Ingeniería Industrial</li>
									<li>Ingeniería Informática</li>
									<li>Licenciatura en Sistemas</li>
									<li>Licenciatura en Tecnología de los Alimentos</li>
									<li>Licenciatura en Ciencias Geológicas</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<h2 class="section-title pregrado">Carreras de Pregrado</h2>
							<div class="section-content pregrado">
								<ul>
									<li>Analista Programador Universitario</li>
									<li>Tecnicaruta Universitaria en Diseño Integral de
										Videojuegos</li>
									<li>Tecnicaruta Universitaria en Perforaciones</li>
								</ul>
							</div>
							<h2 class="section-title pregrado">Convenio UNT</h2>
							<div class="section-content pregrado">
								<p>Lic. en Biotecnología, Lic. en Química, Bioquímica y
									Farmacia</p>
							</div>
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-md-2 section-students">
							<h3>Alumnos</h3>
							<ul>
								<li>Aulas Virtuales</li>
								<li>Instructivos SIU</li>
								<li>Novedades</li>
								<li><a href="#" style="color: white;">Ver más</a></li>
							</ul>
						</div>
						<div class="col-md-2 section-graduates">
							<h3>Egresados</h3>
							<ul>
								<li>Defensa de Tesis</li>
								<li>Tramitación de Título</li>
								<li><a href="#" style="color: white;">Ver más</a></li>
							</ul>
						</div>
						<div class="col-md-2 section-teachers">
							<h3>Docentes</h3>
							<ul>
								<li>Novedades</li>
								<li>Concursos</li>
								<li><a href="#" style="color: white;">Ver más</a></li>
							</ul>
						</div>
						<div class="col-md-2 section-postgraduate">
							<h3>Posgrado</h3>
							<ul>
								<li>Novedades</li>
								<li>Carreras</li>
								<li>Docentes Titulados</li>
								<li><a href="#" style="color: white;">Ver más</a></li>
							</ul>
						</div>
						<div class="col-md-2 section-research">
							<h3>Investigación</h3>
							<ul>
								<li>Novedades</li>
								<li>Sector</li>
								<li><a href="#" style="color: white;">Ver más</a></li>
							</ul>
						</div>
						<div class="col-md-2 section-newcomers">
							<h3>Ingresantes</h3>
							<ul>
								<li>Ingreso 2024</li>
								<li>LU 2024</li>
								<li>TFC 2do Cuatrimestre</li>
								<li><a href="#" style="color: white;">Ver más</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<p>&copy; 2024 Facultad de Ingeniería - UNJU. Todos los derechos
			reservados.</p>
	</footer>
	<script
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
